<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{esm.name}}">
  <ion-content class="padding">
    <h1>{{esm.name}}</h1>
    <img ng-src="{{esm.secs_code == 0 && 'img/boy.png' || 'img/girl.png'}}" style="width: 64px; height: 64px">
    <p>
      {{esm.secs_code == 0 && 'پسرانه' || 'دخترانه'}}
    </p>
    <p>
      <span>آوانگاری :</span>{{esm.ava}}
    </p>    
    <p>
      {{esm.dsc}}
    </p>
  </ion-content>
</ion-view>
