<ion-view view-title="Chats">
  <ion-content class="padding">
    <div>
        <form class="form-horizontal col-xs-12">
            <div class="form-group form-group-lg has-success">
                <input class="form-control" id="query inputSuccess" ng-model="query" type="text" placeholder={{placeholder}}
                       autofocus>
                <a ng-click="query = ''" ng-show="query.length > 0" class="clearQuery">X</a>
            </div>
        </form>
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chatsFilter = (chats | filter: query) | orderBy: 'name' " type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
            <img ng-src="{{chat.face}}">
            <h2>{{chat.name}}</h2>
            <p>{{chat.lastText}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>

            <ion-option-button class="button-assertive" ng-click="removeChat(chat)">
              Delete
            </ion-option-button>
          </ion-item>
        </ion-list>        
    </div>
  </ion-content>
</ion-view>
