<ion-view view-title="همه نامها">
  <ion-content class="padding">
    <div>
       
       <div class="form-group form-group-lg has-success">
                <input class="form-control" id="query inputSuccess" ng-model="query" type="text" placeholder="یک نام وارد کنید"
                       autofocus>
                <a ng-click="query = ''" ng-show="query.length > 0" class="clearQuery">X</a>
      </div>

      <ion-list>
         <ion-item class="item-remove-animate item-avatar item-icon-right" collection-repeat="esm in esmaFilter = (esma | filter: query)| orderBy: 'esm' " type="item-text-wrap" href="#/tab/esma/{{esm.id}}">

            <img ng-src="{{esm.secs_code == 0 && 'img/boy.png' || 'img/girl.png'}}">
            <h2>{{esm.name}}</h2>
            <p>{{esm.ava}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>

            <ion-option-button class="button-assertive" ng-click="removeEsm(esm)">
              Delete
            </ion-option-button>
          </ion-item>
      </ion-list>
  </div>
  </ion-content>
</ion-view>
